body{
     background: linear-gradient(90deg, rgb(16, 64, 195),rgb(13, 20, 97));
    text-align: center;
      font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#titulo{
    color: rgb(16, 97, 226);
    border-radius: 5rem;
    font-size: 5rem;
     background: linear-gradient(180deg, rgb(9, 75, 155), rgb(15, 35, 90));
    margin-top: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15rem ;
    box-shadow: 0 0.4rem 1.5rem black;
    padding-bottom: 0.2% ;
}

#titulo{
    opacity: 0;
    transform: translateX(50px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.enlace{
    opacity: 0;
    transform: translateX(50px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


a{
    text-decoration: none;
    color: rgb(16, 97, 226);
    font-size: 5rem;
     background: linear-gradient(180deg, rgb(9, 75, 155), rgb(15, 35, 90));
    border-radius: 5rem;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 0.4rem 1.5rem black;
}

body a:hover{
    color: rgb(15, 55, 165);
}

@media screen and (max-width:600px) {

#titulo{
    color: rgb(16, 97, 226);
    border-radius: 3rem;
    font-size: 2.5rem;
     background: linear-gradient(180deg, rgb(9, 75, 155), rgb(15, 35, 90));
    margin-top: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 12rem ;
    box-shadow: 0 0.4rem 1.5rem black;
    padding-bottom: 0.5% ;
}



a{
    text-decoration: none;
    color: rgb(16, 97, 226);
    font-size: 2rem;
     background: linear-gradient(180deg, rgb(9, 75, 155), rgb(15, 35, 90));
    border-radius: 4rem;
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: 0 0.4rem 1.5rem black;
}

}
